/*
Project Name: Week Assessment - Instagram
Client: GA
Author: Brian Nace
Developer: Brian Nace
*/


/******************************************
/* SETUP
/*******************************************/


/* Box Model Hack */

* {
    box-sizing: border-box;
}


/* Clear fix hack */

/*.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
/******************************************
/* BASE STYLES
/*******************************************/




/******************************************
/* LAYOUT
/*******************************************/


/* Center the container */


#container {

  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 100px;
  width: 100%;
}

/*******************************************
/* ADDITIONAL STYLES                       
/*******************************************/

html, body {
    margin:0;
    padding:0;
}

body { background: rgba(242,244,245,1); }
body:after {
    content:"";
    background: rgba(65,100,138,1);
    position:fixed;
    top:0;
    bottom:60%;
    right:0;
    left:0;
    content:" ";
    z-index:-1;
}

nav {
  background-color: transparent;
  margin:0 auto;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
  display: inline;
  float: left;
  font-family: Core Sans A;
  font-size: 12px;
  color: rgba(110,140,170,1);

}

a {
    display: block;
    padding: 8px;
}

h1 {
  font-family: Source Sans Pro;
  font-size: 25px;
  font-weight: 600;
  color: rgb(39,67,98);
  margin-left: 50px;
  margin-right: 200px;
  
}

p {
  font-family: Open Sans;
  font-size: 13px;
  color: rgb(141,141,141);
  margin-left: 50px;
  margin-right: 90px;
  
}

.copyright {
  font-family: Open Sans;
  color: rgb(141,141,141);
  font-size: 10px;
  display: block;
  padding: 8px;

}

footer {

  position: absolute;
  left:350px;
  bottom:0px;
  height:30px;
  width:100%;
  margin:-150px auto 0;
  text-align: center;


}

#frameBox { 
   position: absolute; 
   width: 480px;
   top: 175px;
   left: 480px;
}   

.frameText {

position: absolute; 
width: 480px;
top: 200px;
left: 480px

}

#phoneImage {
  float: left;
  padding-left: 100px;
  padding-top: 100px;

}

.topImages {
  width: 480px;
  position: absolute;
  top: 80px;
  left: 480px;
}

.instagram {
float: left;

}

.logInButton {
  float: right;
  margin-top: 25px;

}

.mobileLinks {
  position: absolute;
  left: 525px;
  top: 500px;
}

.appleStore {
 margin: 0 10px 0 0;
}

.googlePlay {
  
}

.nav-wrapper ul li a {
  background-color: transparent;
  text-decoration: none;
  font-family: Open Sans;
  color: rgba(110,140,170,1);
  text-align: center;
  margin: 0 auto;
  

}
/*******************************************
/* LANDING PAGE                      
/*******************************************/
